<html>
<head>
<title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <h1 align="center">
    <i class="fa fa-bar-chart" style="font-size:24px"></i>StockMarket</h1>   
  <nav class="navbar navbar-expand-md bg-dark nav-dark">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/home"><i class="fa fa-home" style="font-size:24px"></i>Home</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link text-white"  routerLink="/login"> <i class="fa fa-user-circle-o" style="font-size:24px"></i>Login</a>
      </li>
    </ul>
  </nav>
  </body>
  
</html>
  